{
  "cli": {
    "version": ">= 7.8.2"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_API_URL": "http://localhost:8000",
        "EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY": "",
        "EXPO_PUBLIC_RAZORPAY_KEY": ""
      }
    },
    "preview": {
      "android": {
        "buildType": "apk"
      },
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_API_URL": "http://localhost:8000",
        "EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY": "",
        "EXPO_PUBLIC_RAZORPAY_KEY": ""
      }
    },
    "production": {
      "android": {
        "buildType": "app-bundle",
        "gradleCommand": ":app:bundleRelease",
        "image": "default",
        "node": "16",
        "yarn": "classic"
      },
      "env": {
        "EXPO_PUBLIC_API_URL": "http://localhost:8000",
        "EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY": "",
        "EXPO_PUBLIC_RAZORPAY_KEY": ""
      }
    }
  }
}
